$green: green;
$red: red;
$blue: blue;

div {
    border: 2px solid $red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

    h1 {
        color: $green;
        text-decoration: $blue underline;
        text-underline-offset: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    section {
        border: 2px solid $green;
        display: flex;

        article {
            flex: 1;
            border: 1px solid $green;
            color: $red;

            p {
                padding: 15px;
                font-size: 15px;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

article:nth-of-type(odd) {
    color: $blue;
}